*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT */
@font-face {
	font-family: IRANRounded;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/eot/IRAN-Rounded.eot');
	src: url('./fonts/eot/IRAN-Rounded.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff/IRAN-Rounded.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRAN-Rounded.ttf') format('truetype');
}

/*    HAMBURGER MENU */
.box {
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  width: 75px;
  height: 75px;
  background: #3faf8200;
  z-index: 1000;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  cursor: pointer;
}

span#menu-burguer{
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.7);
  border-radius: 3px;
  height: 1px;
  background: #000;
  transition: all .3s;
  position: relative;
}

span#menu-burguer + span#menu-burguer{
  margin-top: 14px;
}

.active span#menu-burguer:nth-child(1) {
  background-color: #f0fdd7;
  box-shadow: 0 1px 5px 0 rgb(173,192,128);
  transition: color 0.7s ease;
  animation: ease .7s top forwards;
}

.not-active span#menu-burguer:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active span#menu-burguer:nth-child(2) {
  background-color: #f0fdd7;
  box-shadow: 0 1px 5px 0 rgb(173,192,128);
  transition: color 0.7s ease;
  animation: ease .7s scaled forwards;
}

.not-active span#menu-burguer:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active span#menu-burguer:nth-child(3) {
  background-color: #f0fdd7;
  box-shadow: 0 1px 5px 0 rgb(173,192,128);
  transition: color 0.7s ease;
  animation: ease .7s bottom forwards;
}

.not-active span#menu-burguer:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 15px;
    transform: rotate(0);
  }
  100% {
    top: 15px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 15px;
    transform: rotate(45deg);
  }
  50% {
    top: 15px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 15px;
    transform: rotate(0);
  }
  100% {
    bottom: 15px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 16px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 16px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*    HOME LINK WITH LOGO */
#home-link{
  position: absolute;
  top: 1rem;
  left: 1rem;

  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .7s ease-in-out;
}

#img-link{
  width: 75px;
  height: 75px;

  margin-top: 0.75rem;
  
  border: 1px solid rgb(146, 221, 75);
  border-radius: 50%;
  padding: 4px;
  /* box-shadow: 0 0 3px 4px #616e45; */
  background-color: #ecece0;

  transition: all 0.7s;
}

#home-link:hover{
  transform: rotate(15deg);
}

/*    LOADING WEB PAGE */
#loading{
  display: none;
  font-size: 2.75rem;
  text-shadow: 5px 5px 20px #616e45;
}

#loading-img{
  width: 12rem;
  height: 12rem;
  margin-bottom: 100px;
}

#load{
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*    THE MENU AND THE CONTENT */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  text-align:center;
  border: 1px solid #adc181;

  transition: all 1s ease-in-out;
  background-color: #111;
}


.sidenav a {
  padding: 8px 8px 8px 28px;
  text-decoration: none;
  font-size: 42px;
  color: #ecece0;
  display: block;
  transition: 0.3s;
  z-index: 1000;
  display: none;
  text-shadow: 0 0 5px #111;
}

.sidenav a:hover:nth-child(1){
  color: hsl(299, 100%, 51%);
}

.sidenav a:hover:nth-child(2){
  color: hsl(230, 77%, 47%);
}

.sidenav a:hover:nth-child(3){
  color: hsl(209, 100%, 60%);
}

.sidenav a:hover:nth-child(4){
  color: hsl(153, 78%, 43%);
}

.sidenav a:hover:nth-child(5){
  color: hsl(48, 92%, 53%);
}

.sidenav a:hover:nth-child(6){
  color: hsl(31, 100%, 56%);
}

.sidenav a:hover:nth-child(7){
  color: hsl(354, 69%, 50%);
}

/*    HOME WEB PAGE WITH ALIVE BALL */
body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ecece0;

    direction: rtl;

    font-family: IRANRounded!important;
}

/*    FOR PERSIAN FONTS */
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANRounded !important;
}

.ball {
    position: absolute;

    top: 40%;/* 
    right: 50%; */

    width: 500px;
    height: 500px;

    border-radius: 50%;
    border:none;
    background-color: hsl(79, 34%, 63%);

    transition: background-color 1s ease;
    animation: pulse 6s ease-in-out infinite;
  }

.ball:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
              ellipse at center,
            rgba(236, 236, 224,0) 0%,
            rgba(236, 236, 224,1) 60%,
            rgba(236, 236, 224,1) 100%
            );
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes circularMovement {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

/*    THREE CENTER WORDS */
.centerWords{
  position: absolute;
  top: 125px; left: 45%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span#three-words1,
span#three-words2,
span#three-words3 {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  font-size: 75px;
}

span#three-words1 {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span#three-words2 {
  animation: fade-in 1.4s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  position: relative;
  right: 8rem;
}

span#three-words3 {
  animation: fade-in 2.0s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* CENTER BUTTON */
.centerBtn{
  z-index: 10;

  display: none;

  background-color: rgba(236, 236, 224, 0);
  padding: 7px 35px;
  
  border-radius: 30px;
  border: 1px solid #adc181;
  font-family: inherit;
  transition: all 0.8s ease;

  position: relative;
  right: 8rem;
}

.centerBtn:hover{
  background-color: #adc181;
  border: 1px solid white;
}

.centerBtn a{
  text-decoration: none;
  font-family: inherit;
  font-size: 22px;
  color: #111;

  display: none;

}



/*    FOR IPAD */
@media only screen and (min-width: 767px)  {
  #img-link{
    width: 100px;
    height: 100px;
  
    margin-top: 0.5rem;
  }
/*    THREE CENTER WORDS */
.centerWords{
  top: 150px;
}
span#three-words1,
span#three-words2,
span#three-words3 {
  font-size: 100px;
}
span#three-words2 {
  right: 12rem;
}
/*    ALIVE BALL */
.ball {
  top: 30%;

  width: 700px;
  height: 700px;
}
}

/*    FOR NEST HUB */
@media only screen and (min-width: 1020px)  {
  #img-link{
    width: 100px;
    height: 100px;
  
    margin-top: 0.25rem;
  }
/*    THREE CENTER WORDS */
.centerWords{
  top: 100px; left: 55%;
}
span#three-words1,
span#three-words2,
span#three-words3 {
  font-size: 75px;
}
span#three-words2 {
  right: 12rem;
}
/* CENTER BUTTON */
.centerBtn{
  position: relative;
  right: 12rem;
  bottom: 5rem;
}
/*    ALIVE BALL */
.ball {

  width: 650px;
  height: 650px;
}
}

/*    FOR NEST HUB MAX*/
@media only screen and (min-width: 1279px)  {
  #img-link{
    width: 100px;
    height: 100px;
  
    margin-top: 0.15rem;
  }
/*    THREE CENTER WORDS */
.centerWords{
  top: 20px; left: 50%;
}
span#three-words1,
span#three-words2,
span#three-words3 {
  font-size: 100px;
}
span#three-words2 {
  right: 12rem;
}
/* CENTER BUTTON */
.centerBtn{
  position: relative;
  right: 12rem;
  bottom: 5rem;
}
/*    ALIVE BALL */
.ball {

  width: 650px;
  height: 650px;
}
}