*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* FONT */
  @font-face {
    font-family: IRANRounded;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRAN-Rounded.eot');
    src: url('../fonts/eot/IRAN-Rounded.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
      url('../fonts/woff/IRAN-Rounded.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/IRAN-Rounded.ttf') format('truetype');
  }
  
  /*    HAMBURGER MENU */
  .box {
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 75px;
    height: 75px;
    background: #00ff9900;
    z-index: 1000;
  }
  
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    cursor: pointer;
  }
  
  span#menu-burguer{
    display: block;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.7);
    border-radius: 3px;
    height: 1px;
    background: #000;
    transition: all .3s;
    position: relative;
  }
  
  span#menu-burguer + span#menu-burguer{
    margin-top: 14px;
  }
  
  .active span#menu-burguer:nth-child(1) {
    background-color: #f0fdd7;
    box-shadow: 0 1px 5px 0 rgb(173,192,128);
    transition: color 0.7s ease;
    animation: ease .7s top forwards;
  }
  
  .not-active span#menu-burguer:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span#menu-burguer:nth-child(2) {
    background-color: #f0fdd7;
    box-shadow: 0 1px 5px 0 rgb(173,192,128);
    transition: color 0.7s ease;
    animation: ease .7s scaled forwards;
  }
  
  .not-active span#menu-burguer:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span#menu-burguer:nth-child(3) {
    background-color: #f0fdd7;
    box-shadow: 0 1px 5px 0 rgb(173,192,128);
    transition: color 0.7s ease;
    animation: ease .7s bottom forwards;
  }
  
  .not-active span#menu-burguer:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 15px;
      transform: rotate(0);
    }
    100% {
      top: 15px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 15px;
      transform: rotate(45deg);
    }
    50% {
      top: 15px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 15px;
      transform: rotate(0);
    }
    100% {
      bottom: 15px;
      transform: rotate(135deg);
    }
    }
  
    @keyframes bottom-2 {
    0% {
      bottom: 16px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 16px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /*    HOME LINK WITH LOGO */
  #home-link{
    position: absolute;
    top: 1rem;
    left: 1rem;
  
    z-index: 100;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: all .7s ease-in-out;
  }
  
  #img-link{
    width: 75px;
    height: 75px;
  
    margin-top: 0.75rem;
  
    border: 1px solid #92dd4b;
    border-radius: 50%;
    padding: 4px;
    /* box-shadow: 0 0 3px 4px #616e45; */
    background-color: none;
  
    transition: all 0.7s;
  }
  
  #home-link:hover{
    transform: rotate(15deg);
  }
  /*    THE MENU AND THE CONTENT */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    text-align:center;
  
    transition: all 1s ease-in-out;
    background-color: #111;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 42px;
    color: #ecece0;
    display: block;
    transition: 0.3s;
    z-index: 1000;
    display: none;
    text-shadow: 0 0 5px #111;
  }
  
  .sidenav a:hover:nth-child(1){
  color: hsl(299, 100%, 51%);
  }
  
  .sidenav a:hover:nth-child(2){
  color: hsl(230, 77%, 47%);
  }
  
  .sidenav a:hover:nth-child(3){
  color: hsl(209, 100%, 60%);
  }
  
  .sidenav a:hover:nth-child(4){
  color: hsl(153, 78%, 43%);
  }
  
  .sidenav a:hover:nth-child(5){
  color: hsl(48, 92%, 53%);
  }
  
  .sidenav a:hover:nth-child(6){
  color: hsl(31, 100%, 56%);
  }
  
  .sidenav a:hover:nth-child(7){
  color: hsl(354, 69%, 50%);
  }
  /*    HOME WEB PAGE WITH ALIVE BALL */
  body{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c7eebd;
    background:  radial-gradient(
      circle at top right,
      #b9e7c0, 
      #295225
    );
    overflow: hidden;
    direction: rtl;
    font-family: IRANRounded!important;
  }
/* CONTENT OF WEB PAGE */ 
.container{
  max-width: 100%;
  max-height: 100%;
    
  padding: 5vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  max-height: 100vh;
  max-width: 100vw;
}

h1{
  font-size: 52px;
}
h2{
  font-size: 22px;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #000;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
li{
  margin: 1rem;
}
.link-styling{
  font-size: 22px;
}

/*    FOR IPAD */
@media only screen and (min-width: 767px)  {
  #img-link{
    width: 100px;
    height: 100px;
  
    margin-top: 0.5rem;
  }
  li{
    margin: 4rem;
  }
}
    
  /*    FOR NEST HUB */
@media only screen and (min-width: 1020px)  {
  #img-link{
    width: 100px;
    height: 100px;
  
    margin-top: 0.25rem;
  }
}
  
    /*    FOR NEST HUB MAX*/
  @media only screen and (min-width: 1279px)  {
    #img-link{
      width: 100px;
      height: 100px;
    
      margin-top: 0.15rem;
    }
    h1{
      font-size: 72px;
    }
    h2{
      font-size: 32px;
    }
    li{
      margin: 6rem;
    }
    .link-styling{
      font-size: 32px;
    }
  }